.container {
  margin-top: 40px;
  overflow: none;
}

.flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  padding: 0 14 0 15;
  background-color: var(--figma-color-bg);
  border: thin solid var(--figma-color-border);
}

.navbar-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.navbar-item {
  color: var(--figma-color-text-secondary);
}

.navbar-item.selected {
  font-weight: var(--font-weight-bold);
  color: var(--figma-color-text);
}

.navbar-item:hover {
  color: var(--figma-color-text-hover);
}

.form {
  padding: 15px;
}

.frame-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8 15;
}

.frame-item:hover {
  background-color: var(--figma-color-bg-selected-hover);
}
.frame-item.selected {
  background-color: var(--figma-color-bg-selected);
}

.frame-name {
  max-width: 170px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.frame-name:hover {
  cursor: pointer;
}

.empty-state {
  margin-top: 100px;
  text-align: center;
}

/* Dropdown Button */
.dropdown-btn {
  display: flex;
  align-items: center;
  border-radius: 3px;
  padding: 2 6;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropdown-btn:hover,
.dropdown-btn:focus {
  opacity: 0.8;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align: right;
  min-width: 100px;
  right: 0;
  background-color: var(--figma-color-bg);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  border: thin solid var(--figma-color-border);
  padding: 0 0;
  overflow: hidden;
  z-index: 3;
}

.dropdown-content.up {
  bottom: 22;
}

/* Links inside the dropdown */
.dropdown-content a {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--figma-color-text);
  padding: 8 6;
  text-decoration: none;
  cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--figma-color-bg-hover);
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  margin-left: 5;
}
.dropdown-btn.to-do > .dropdown-arrow {
  border-top: 4px solid var(--figma-color-text);
}
.dropdown-btn.all > .dropdown-arrow,
.dropdown-btn.to-do > .dropdown-arrow,
.dropdown-btn.no-status > .dropdown-arrow {
  border-top: 4px solid var(--figma-color-text);
}
.dropdown-btn.done > .dropdown-arrow,
.dropdown-btn.blocked > .dropdown-arrow {
  border-top: 4px solid white;
}

.dropdown-btn.doing > .dropdown-arrow,
.dropdown-btn.cancelled > .dropdown-arrow {
  border-top: 4px solid rgba(6, 3, 8, 0.5);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

.dropdown-btn.to-do {
  background-color: transparent;
  border: thin solid var(--figma-color-text);
  color: var(--figma-color-text);
}
.dropdown-btn.doing {
  background-color: #ffdb5b;
  border: thin solid #ffdb5b;
  color: rgba(6, 3, 8, 0.5);
}
.dropdown-btn.done {
  background-color: #1abf7b;
  border: thin solid #1abf7b;
  color: white;
}
.dropdown-btn.blocked {
  background-color: #ec6d60;
  border: thin solid #ec6d60;
  color: white;
}
.dropdown-btn.cancelled {
  background-color: #c8c8c8;
  border: thin solid #c8c8c8;
  color: rgba(6, 3, 8, 0.5);
}
.dropdown-btn.all {
  background-color: var(--figma-color-bg);
  border: thin solid var(--figma-color-bg);
  color: var(--figma-color-text);
}
.dropdown-btn.no-status {
  background-color: var(--figma-color-bg);
  border: thin solid var(--figma-color-border);
  color: var(--figma-color-text);
}

.custom-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.status-colour {
  height: 15px;
  width: 15px;
  border-radius: 2px;
  margin-right: 10px;
  border: thin solid var(--figma-color-border);
}

.status-name {
  margin-right: 10px;
}

.status-options {
  display: flex;
  flex: row;
  gap: 10px;
}

.status-options {
  color: var(--figma-color-text-secondary);
}
.status-options-item:hover {
  cursor: pointer;
  color: var(--figma-color-text-hover);
}
